<!DOCTYPE html>
<html>
    <head>
        <title>
            Help Page
        </title>
    </head>
    <body>
       {{> header}}
        <p>This is a help page</p>
        {{> footer}}
    </body>
</html>