<!DOCTYPE html>
<html>
    <head>
        <title>
            Help Page
        </title>
    </head>
    <body>
        {{> header}}
        <p>{{getheading heading}}</p>
        {{> footer}}
    </body>
</html>